<!-- Start Header -->
<!-- <div class="overlay" (click)="collapsToggle()" [ngClass]="isMenuOpen ? 'show': ''"></div> -->

<header id="th-header" class="th-header th-haslayout">
    <div class="th-topbar">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <strong class="th-logo">
                    <a href="index.html"><img src="assets/images/logo-uo.jpeg" alt="image description"></a>
                </strong>
                <div class="th-navigationarea">
                    <nav id="th-nav" class="th-nav">
                        <div class="mob-collaps" (click)="collapsToggle()" [ngClass]="isMenuOpen ? 'show': ''">
                            <span></span><span></span><span></span></div>
                        <div id="th-navigation" class="collapse navbar-collapse th-navigation show">
                            <ul>
                                <li [routerLinkActive]="['th-active']" [routerLinkActiveOptions]="{ exact: true }" class="th-hasdropdown ">
                                    <a [routerLink]="['/home']">{{ "HOME"   }}</a>                                    
                                </li>
                                <li [routerLinkActive]="['th-active']" [routerLinkActiveOptions]="{ exact: true }" class="th-hasdropdown">
                                    <a [routerLink]="['/about-us']">{{ "ABOUTUS"   }}</a>
                                    <ul class="th-menudropdown">
                                        <li><a [routerLink]="['/about-us']">{{ "Introduction"   }}</a></li>
                                        <li><a [routerLink]="['/about-us']">{{ "Vision Mission"   }}</a></li>                                                                                
                                        <li><a [routerLink]="['/about-us']">{{ "Our Team"   }}</a></li>                                                                                
                                    </ul>
                                </li>
                                <li [routerLinkActive]="['th-active']" [routerLinkActiveOptions]="{ exact: true }" class="th-hasdropdown">
                                    <a href="javascript:void(0);">{{ "OUR DIVISIONS"   }}</a>
                                    
                                </li>
                                <!--<li [routerLinkActive]="['th-active']" [routerLinkActiveOptions]="{ exact: true }" class="th-hasdropdown">
                                    <a [routerLink]="['/brand-partners']">{{ "BrandPartners"   }}</a>
                                    <ul class="th-menudropdown">
                                        <li><a [routerLink]="['/be-our-partner']">{{ "BeOurPartner"   }}</a></li>                                        
                                    </ul>
                                </li>-->
                                <li [routerLinkActive]="['th-active']" [routerLinkActiveOptions]="{ exact: true }" class="th-hasdropdown">
                                    <a [routerLink]="['/channels']">{{ "Channels"   }}</a>                                    
                                </li>
                                <!--<li [routerLinkActive]="['th-active']" [routerLinkActiveOptions]="{ exact: true }" class="th-hasdropdown">
                                    <a [routerLink]="['/careers']">{{ "Careers"   }}</a>                                    
                                </li>-->
                                <li [routerLinkActive]="['th-active']" [routerLinkActiveOptions]="{ exact: true }" class="th-hasdropdown">
                                    <a [routerLink]="['/contact-us']">{{ "Contact"   }}</a>                                   
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End Header -->
