<!--************************************
    Wrapper Start
*************************************-->
<div id="th-wrapper" class="th-wrapper th-haslayout">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
  <button class="fix-top" *ngIf="isShow" (click)="gotoTop()">
    <span style="font-size: 45px;color: #00adef;"><i class="fa fa-arrow-circle-up"></i></span>
  </button>
</div>
<!--************************************
    Wrapper End
*************************************-->
