<!-- Start Footer -->
<footer id="th-footer" class="th-footer th-haslayout">
    <div class="th-footermiddlebox th-sectionspace th-haslayout">
        <div class="container">
            <div class="row th-fcols">
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="th-fcol">
                        <strong class="th-logo">
                            <a href="#">
                                <img src="assets/images/logo.png" alt="image description">
                            </a>
                        </strong>
                        <p>
                            If you need help our insurance advisors can offer assistance by phone or email
                            If you need help our insurance advisors can offer assistance by phone or email
                            If you need help our insurance advisors can offer assistance by phone or email
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="th-fcol">
                        <div class="th-borderheading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul class="th-usefullinks">
                            <li><a href="#">Car Insurance</a></li>
                            <li><a href="#">Customer Help Desk</a></li>
                            <li><a href="#">Our Recent Projects</a></li>
                            <li><a href="#">Contract Procedures</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="th-fcol">
                        <div class="th-borderheading">
                          <h3>{{ "ABOUTUS"   }}</h3>
                        </div>
                        <div class="th-description">
                          <p>{{ "Introduction"   }}</p>
                          <p>{{ "Vision Mission"   }}</p>
                        </div>
                        <ul class="th-socialicons th-socialiconsround">
                            <li><a href="https://m.facebook.com/"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="th-faddressinfo mt-5">
                <div class="row">
                    <div class="col-lg-4 col-12">
                        <li>
                            <span class="th-addressicon">
                                <img src="assets/images/img-08.png" alt="image description">
                            </span>
                            <address class="m-0">{{ "Address1"   }}</address>
                        </li>
                    </div>
                    <div class="col-lg-4 col-12">
                        <li>
                            <span class="th-addressicon">
                                <img src="assets/images/img-09.png" alt="image description">
                            </span>
                            <div class="th-phone">
                              <span>05022102423 , 0502103423</span>                                  
                              <span>01113000659 , 01101919494</span>
                            </div>
                        </li>
                    </div>
                    <div class="col-lg-4 col-12">
                        <li>
                            <span class="th-addressicon">
                                <img src="assets/images/img-10.png" alt="image description">
                            </span>
                            <div class="th-phone">
                                <span><a href="mailto:info@weinsure.com">info@weinsure.com</a></span>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="th-footerbottombar">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-12">
                    <span class="th-copyright">&copy; Copyrights 2020. All Rights Reserved</span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
